.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}

h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}


a                         {text-decoration:none; color:blue;}
a:hover, a:visited        {color:blue;}

ul {margin:0px;padding:0px;list-style-type:none}
ul li {padding:0px;margin:0px;position:relative;}

body {
    background-color:#F3F3F3;
}

#wrapper{
    border-right:1px solid #E1E1E1;
    border-bottom:1px solid #CCC;
    margin: 20px auto;
    width: 960px;
}

#main {
    border:1px solid #EEE;
    background-color:#FFF;
    padding:20px;
}

#main_col {display:inline-block;width:540px;}
#secondary_col {display:inline-block;width:360px;float:right;}

ul.main_links, ul.working_links {
    font-size:1.2em;
}

ul.main_links li, ul.working_links li {
    margin-bottom:20px;
    line-height: 1.1em;
}



ul.working_links a {color:#999;}

span.whole_url {font-size:0.8em; font-style:italic;}
span.whole_url a{color:#444;text-decoration:underline;}

.move_img{
    width: 12px;
    height: 12px;
    display:inline-block;
    cursor:pointer;
	filter: alpha(opacity=50); /* internet explorer */
	-khtml-opacity: 0.5;      /* khtml, old safari */
	-moz-opacity: 0.5;       /* mozilla, netscape */
	opacity: 0.5;           /* fx, safari, opera */
    background: url(../images/css3-github-buttons-icons.png) 0 -252px no-repeat;}

.move_img:hover,
.move_img:focus,
.move_img:active {
	filter: alpha(opacity=100); /* internet explorer */
	-khtml-opacity: 1;      /* khtml, old safari */
	-moz-opacity: 1;       /* mozilla, netscape */
	opacity: 1;           /* fx, safari, opera */
    }
